
<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Prénom" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ville" formControlName="firstName" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Tel mobile" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Permis" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fonction" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Prétention salariale" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Salaire actuel" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Mobilité" formControlName="lastName" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Commentaire prise de ref" formControlName="lastName" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Commentaire RH" formControlName="lastName" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Disponibilité" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Statut candidature" formControlName="lastName" required>
    </mat-form-field>