
<div class="basic-container mat-elevation-z8" style="margin-top: 1%">
  <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- Step 1: Personal Form -->
      <mat-step [stepControl]="personalForm.form">
          <ng-template matStepLabel>Informations Personnelles</ng-template>
          <app-personal-form [form]="personalForm"></app-personal-form>
          <div>
              <button mat-button matStepperNext matTooltip="Next Step" class="btn-primary">Suivant</button>
          </div>
      </mat-step>
      <!-- Step 2: Address Form -->
      <mat-step [stepControl]="addressForm.form">
          <ng-template matStepLabel>Documents</ng-template>
          <app-address-form [form]="addressForm"></app-address-form>
          <div>
              <button mat-raised-button matStepperPrevious>Retour</button>
              <button class="btn-success" mat-raised-button cdkFocusInitial (click)="save()">Valider</button>
          </div>
      </mat-step>
  </mat-horizontal-stepper>
</div>
